<div class="sidebar">
  <div class="sidebar-title">{{ title }}</div>
  <p-panelMenu [model]="sidebarItems"></p-panelMenu>
</div>
<div class="header">
  <div class="header-right">
    <button pButton type="button" icon="pi pi-question-circle" class="p-button-text p-button-rounded" title="Help"></button>
    <ng-container *ngIf="!isLoggedIn">
      <button pButton type="button" icon="pi pi-sign-in" label="Login" class="p-button-text" (click)="login()"></button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button pButton type="button" icon="pi pi-user" label="Profile" class="p-button-text" (click)="profile()"></button>
      <button pButton type="button" icon="pi pi-sign-out" label="Logout" class="p-button-text" (click)="logout()"></button>
    </ng-container>
  </div>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
